
@{
    ViewData["Title"] = "PartialView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="list">
    <h2>List of Sales</h2>
    <a href="javascript:void(0)" onclick="switchView('form')">New Sale</a>
    <table id="tSM" class="table table-bordered table-responsive table-striped"></table>
</div>